.ensime*
.idea
.cache*
.classpath
.project
.settings
.externalToolBuilders
.metals

*.log
*.class
*.*~
\#*
.\#*

*.DS_Store

bin
data
target
data
project/target
private
deployment/config/auth-svc.settings.yml
doc/index.html
doc/readme.html
README.html
thesis
