<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%date{ISO8601} [%highlight(%-5level)] %cyan(%logger{15}) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./log/webmodelica.log</file>
    <encoder>
      <pattern>%date{ISO8601} [%-5level] %logger{15} - %msg%n</pattern>
    </encoder>
  </appender>

   <logger name="com.typesafe" level="INFO">
   </logger>
   <logger name="io.netty" level="INFO">
   </logger>
   <logger name="com.twitter" level="INFO">
   </logger>
   <logger name="reactivemongo" level="INFO">
   </logger>

   <root level="DEBUG">
       <appender-ref ref="FILE"/>
       <appender-ref ref="STDOUT"/>
   </root>
</configuration>
